@import "tailwindcss";

@theme {
  --color-primary: #ff0000;
  --color-black:   #101010;
  --color-gray-99: #999999;
  --color-gray-24: #202124;
  --color-gray-8b: #80868b;
  --color-white:   #ffffff;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    /* letter-spacing: -0.05em; */
    background: var(--color-gray-24);
    color: var(--color-white);
    height: 1000px;
  }

  button {
    @apply cursor-pointer;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility transition-300 {
  @apply transition-all ease-in-out duration-300;
}